<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/main.css' />
    <html lang="en-US">
    <link rel="icon" type="image/png" 
      href="/img/favicon.ico">
  </head>
  <body>
  <header class="navbar">
    <div class="navbar-inner navbar-fixed-top ">
      <a class="brand" href="#">TrainJs</a>
      <ul class="nav">
        <li><a href="#map">Stations</a></li>
        <li><a href="#departure">Departure</a></li>
        <li><a href="#arrivals">Arrivals</a></li>
      </ul>
      <form class="navbar-search pull-left">
        <div class="input-append">
            <input type="text" autocomplete="off" id="search" class="search-query" placeholder="search" data-provide="typeahead" >
        </div>
      </form>
      <div class="main-timer">
        <span  id="station"></span>
        <span  id="info"></span>
      </div>
    </div>
  </header>
  <section id="content">
    {{{body}}}
  </section>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38340130-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  <script data-main="js/main.js" src="js/vendors/require.js"></script>

  </body>
</html>