<div class="container">
<div class="row">
<table class="table table-hover table-fixed">
  <caption>Display</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
</div>	
</div>