<div class="container">
<div id="table-header" class="row">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
    </tr>
  </thead>
</table>  
</div>

<table class="table table-hover">
  <tbody>
    
  </tbody>
</table>	
</div>